nohup.out
target/
project/target
.idea
log/
.gradle
*.iml
project/project/
.vscode
logs
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
public/build.txt
src/main/
target/scala-2.11/